<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576830555998-l73bgupcrcbhjbfdcjp2hbdhknh3fcgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576830555998-l73bgupcrcbhjbfdcjp2hbdhknh3fcgu</string>
	<key>API_KEY</key>
	<string>AIzaSyA4cfxagUVBMD0DF-ePxQZ9Klx5ONoS5N8</string>
	<key>GCM_SENDER_ID</key>
	<string>576830555998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kulltran.meapp.manageExchangeApp</string>
	<key>PROJECT_ID</key>
	<string>manage-exchange-app</string>
	<key>STORAGE_BUCKET</key>
	<string>manage-exchange-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576830555998:ios:4ebb5956006133660bb1cf</string>
</dict>
</plist>